<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artmaster.android.orthodoxcalendar"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.FullScreen"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity android:name=".StartActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="orthodoxcalendar.com"
                    android:pathPrefix="/jobs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.init.mvp.InitAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.calendar_list.mvp.CalendarListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.review.HolidayViewPagerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".notifications.NotificationsService"
            android:exported="false">
        </service>

        <receiver
            android:name=".notifications.AppWakeUpReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifications.AlarmReceiver"
            android:process=":remote"
            android:enabled="true">
        </receiver>
    </application>
</manifest>