<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artmaster.android.orthodoxcalendar"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.FullScreen"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="orthodoxcalendar.com"
                    android:pathPrefix="/jobs"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.init.mvp.InitAppActivity" />
        <activity android:name=".ui.calendar_list.mvp.MainCalendarActivity" />
        <activity android:name=".ui.review.HolidayViewPagerActivity" />
        <activity android:name=".ui.user_holiday.mvp.UserHolidayActivity" />

        <service
            android:name=".notifications.NotificationsService"
            android:exported="false" />

        <receiver
            android:name=".notifications.AppWakeUpReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifications.AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
    </application>
</manifest>