<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artmaster.android.orthodoxcalendar"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.FullScreen"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity android:name=".StartActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="orthodoxcalendar.com"
                    android:pathPrefix="/jobs" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.init.mvp.InitAppActivity" />
        <activity android:name=".ui.calendar.mvp.CalendarListActivity" />
    </application>
</manifest>